/*=========================
ABOUT
=========================*/

.about{

padding:100px 0;

background:#111;

}

.about-container{

display:flex;

align-items:center;

justify-content:space-between;

gap:60px;

flex-wrap:wrap;

}

.about-image{

flex:1;

}

.about-image img{

width:100%;

border-radius:15px;

border:3px solid #D4AF37;

}

.about-content{

flex:1;

}

.section-tag{

color:#D4AF37;

font-weight:bold;

letter-spacing:2px;

}

.about-content h2{

font-size:48px;

color:white;

margin:20px 0;

}

.about-content h2 span{

color:#D4AF37;

}

.about-content p{

font-size:18px;

color:#ddd;

line-height:1.8;

}

.experience{

margin-top:30px;

display:inline-block;

background:#D4AF37;

padding:20px;

border-radius:10px;

color:black;

font-weight:bold;

}

/*=========================
STATS
=========================*/

.stats{

background:#000;

padding:80px 0;

}

.stats-container{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

background:#111;

padding:40px;

text-align:center;

border:1px solid #D4AF37;

border-radius:12px;

transition:.3s;

}

.stat-card:hover{

transform:translateY(-10px);

}

.stat-card h2{

font-size:42px;

color:#D4AF37;

}

.stat-card p{

color:white;

margin-top:10px;

}