.admin{

padding:100px 0;

background:#111;

color:white;

min-height:100vh;

}

.admin h1{

text-align:center;

color:#D4AF37;

margin-bottom:40px;

}

table{

width:100%;

border-collapse:collapse;

background:#1b1b1b;

}

th{

background:#D4AF37;

color:black;

padding:15px;

}

td{

padding:15px;

border:1px solid #333;

}

tr:hover{

background:#222;

}

.delete-btn{

background:#c62828;

padding:10px 20px;

color:white;

text-decoration:none;

border-radius:6px;

font-weight:bold;

transition:.3s;

}

.delete-btn:hover{

background:#ff0000;

}

.table-responsive{

overflow-x:auto;

}