.login{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

background:#111;

}

.login-box{

width:420px;

background:#1b1b1b;

padding:40px;

border-radius:10px;

}

.login h1{

text-align:center;

color:#D4AF37;

margin-bottom:30px;

}

.login input{

width:100%;

padding:15px;

margin-bottom:20px;

background:#222;

border:none;

color:white;

}

.login button{

width:100%;

padding:15px;

background:#D4AF37;

border:none;

font-weight:bold;

cursor:pointer;

}

.error{

color:red;

text-align:center;

margin-bottom:20px;

}