/* ==========================
   GOOGLE RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================
   BODY
========================== */

body{

    background:#0B0B0B;

    color:white;

    font-family:'Poppins',sans-serif;

    overflow-x:hidden;

}

/* ==========================
   HEADINGS
========================== */

h1,h2,h3,h4,h5{

    font-family:'Cinzel',serif;

    color:#D4AF37;

}

/* ==========================
   PARAGRAPH
========================== */

p{

    line-height:1.8;

    color:#dddddd;

}

/* ==========================
   LINK
========================== */

a{

    text-decoration:none;

    color:white;

    transition:.3s;

}

a:hover{

    color:#D4AF37;

}

/* ==========================
   CONTAINER
========================== */

.container{

    width:90%;

    max-width:1300px;

    margin:auto;

}
/* ==========================
   NAVBAR
========================== */

.navbar{

    background:#111111;

    border-bottom:1px solid #D4AF37;

    position:sticky;

    top:0;

    z-index:1000;

}

.nav-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}

.logo{

    color:#D4AF37;

    font-size:28px;

    font-family:'Cinzel', serif;

    font-weight:bold;

}

.logo span{

    color:white;

    font-size:18px;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    color:white;

    font-size:16px;

    transition:0.3s;

}

.nav-links a:hover{

    color:#D4AF37;

}

.book-btn{

    background:#D4AF37;

    color:black;

    padding:12px 25px;

    border-radius:6px;

    font-weight:600;

}

.book-btn:hover{

    background:#ffffff;

}
/* ==========================
      HERO SECTION
========================== */

.hero{

    height:100vh;

    background:url("../images/hero.jpg");

    background-size:cover;

    background-position:center;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.65);

}

.hero-content{

    position:relative;

    z-index:10;

    width:90%;

    max-width:900px;

}

.hero h1{

    font-size:70px;

    color:#D4AF37;

    line-height:1.2;

    margin-bottom:25px;

}

.hero p{

    font-size:22px;

    color:white;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.btn-primary{

    background:#D4AF37;

    color:black;

    padding:15px 35px;

    border-radius:8px;

    font-weight:bold;

}

.btn-primary:hover{

    background:white;

}

.btn-secondary{

    border:2px solid #D4AF37;

    color:#D4AF37;

    padding:15px 35px;

    border-radius:8px;

}

.btn-secondary:hover{

    background:#D4AF37;

    color:black;

}