{% extends "base.html" %}

{% block content %}

<section class="gallery">

    <div class="container">

        <h1 class="gallery-title">
            Our Gallery
        </h1>

        <p class="gallery-subtitle">
            Every frame tells a beautiful story.
        </p>

        <div class="gallery-grid">

            {% for i in range(1,9) %}

            <div class="gallery-card">

                <img src="{{ url_for('static', filename='images/img' ~ 1 ~ '.jpg') }}" alt="">

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}