{% extends "base.html" %}

{% block content %}

<section class="hero">

    <video autoplay muted loop playsinline class="hero-video">
    <source src="{{ url_for('static', filename='videos/hero.mp4') }}"
            type="video/mp4">
    </video>

    <div class="overlay"></div>

    <div class="hero-content">

        <h1 class="hero-title">

            We Capture
            <br>
            Every Beautiful Moment

        </h1>

        <p>

            Wedding Films • Commercial Ads • Music Videos

        </p>

        <div class="hero-buttons">

            <a href="#" class="btn-primary">

                Book Now

            </a>

            <a href="#" class="btn-secondary">

                View Portfolio

            </a>

        </div>

    </div>

    <div class="scroll-down">

        ↓

    </div>

</section>

{% endblock %}